{% extends "base.html" %}
{% block body %}
{% load i18n %}
{% load tags %}
{% if bookmark_posts and bookmark_posts.exists %}
<div class="container mt-5">
        <h1 class="h1 text-center text-primary"> {% translate "Bookmark Posts" %} </h1>
        <hr>
        <div class="row">
    {% for post in bookmark_posts %}
    <div class="col-4 pt-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body" style="height: 300px;">
                <h5 class="card-title text-uppercase">{{ post.post.title | slice:":20" }} </h5>
                <p class="card-text">{{ post.post.descrip | slice:":100" }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'blog:current_post' post_id=post.post.id %}" class="btn btn-primary btn_rounded"> {% translate "Read More" %}</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    </div>
{% else %}
<div class="text-danger text-center mt-5"> {% translate "no bookmark post is found" %}</div>
{% endif %}
 {% endblock  %}