{% extends "base.html" %}
{% block body %}
{% load i18n %}
<div class="container mt-5">
    <div class="col d-flex justify-content-center mt-sm-3 mt-md-5">
        <div class="card rounded">
          <div class="card-header">
            <div class="text-center"> {% translate "Create Post" %}</div>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'create-post' %}">
              {% csrf_token %}
                <div class="text-danger list-unstyled">
                    <div>{{ errors | safe}}</div>
                </div>
              <div class="form-group">
                <label for="email">{% translate "Post Title" %}</label>
                <input  type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp"
                  placeholder="{% translate 'Enter title' %}">
                  <input type="hidden" name="source" value="web">
              </div>
              <div class="form-group">
                <label for="descrip">{% translate 'Description' %}</label>
                  <textarea rows="5" cols="50" class="form-control" name="descrip" id="descrip" >{% translate 'Type description of the post' %}</textarea>
              </div>
              <div class="form-group">
                <label for="tags">{% translate 'Tags' %}</label>
                  <input type="text" class="form-control" name="tags" id="tags"
                  placeholder="{% translate 'type tags of the post separated by comma' %}"/>
              </div>
              <button type="submit" class="btn btn-primary btn_rounded"> {% translate "Create Post" %}</button>
            </form>
          </div>
        </div>
      </div>
</div>
{% endblock  %}
