{% extends "base.html" %}
{% load i18n %}
{% block body %}
{% if posts and posts %}
<div class="container mt-5">
    <div class="row">
        {% for post in posts %}
        <div class="col-4 pt-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="height: 300px;">
                    <h5 class="card-title text-uppercase">{{ post.title | slice:":20" }} </h5>
                    <p class="card-text">{{ post.descrip | slice:":100" }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'blog:current_post' post_id=post.id %}" class="btn btn-primary btn_rounded"> 
                        {% translate "Read More" %}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">next</a>
        <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{%else %}
no post is available
{% endif %}
{% endblock %}