{% extends "base.html" %}
{% load i18n %}
{% block body %}

    {% if password_history %}
        <div class="text-danger ml-5 mt-5"> Last Changed Password : {{ password_history.created_at|date:"d F Y" }}</div>
    {% endif %}
      <div class="col d-flex justify-content-center mt-sm-3 mt-md-5">
      <div class="card">
        <div class="card-header">
          <div class="text-center"> {% translate "Update Password" %}</div>
        </div>
        <div class="card-body">
          <form method="post" action="/update-password">
            {% csrf_token %}
            {% for field in form %}
              <div class="text-danger list-unstyled">
                  <div>{{ field.errors }}</div>
              </div>
            {% endfor %}
            <div class="form-group">
              <label for="password">{% translate 'New Password' %}</label>
              <input  type="password" class="form-control" id="password" name="password"
                aria-describedby="{% translate 'Enter new password' %}"
               placeholder="{% translate 'Enter New Password' %}">
            </div>
            <div class="form-group">
              <label for="password">{% translate 'Confirm Password' %}</label>
              <input type="password" class="form-control" name="c_password" id="c_password" placeholder="{% translate 'Confirm Password' %}">
            </div>
            <button type="submit" class="btn btn-primary"> {% translate 'Update Password' %} </button>
          </form>
        </div>
      </div>
    </div>

{% endblock  %}
